<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-native-web-communication"
        version="1.0.0">
    <name>NativeWebCommunicationPlugin</name>
    <description>A Cordova plugin for communication between native and web.</description>
	<license>Apache 2.0</license>
	<keywords>cordova,native,web,communication</keywords>
	<engines>
      <engine name="cordova-android" version=">=4.0.0" />
    </engines>
    <js-module src="www/index.js" name="NativeWebCommunicationPlugin">
        <clobbers target="cordova.plugins.NativeWebCommunicationPlugin"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeWebCommunicationPlugin">
                <param name="android-package" value="org.apache.cordova.nativeweb.NativeWebCommunicationPlugin"/>
            </feature>
        </config-file>
		<source-file src="src/android/NativeWebCommunicationPlugin.java" target-dir="src/org/apache/cordova/nativeweb" />
    </platform>
	
</plugin>
